/** Add css rules here for your application. */



/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  margin: 40px 0px 70px;
  text-align: center;
}
header{
background-color: rgba(0,0,0,0);
}
/*
html{
  height: 100%;
  background:url('res/back.jpg');
}  */

body {
   background-image:url('res/back.jpg');
   background-color:#cccccc;
}
/*
.sendButton {
  display: block;
  font-size: 16pt;
} */
 /*
h1 {
    position:relative;
    color:#aeef33;
    font-family: Georgia;
}

h1 span{
    position:absolute;
    display:block;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:url('res/login.jpg');
}   */

#sendButton,#sendMessage{
 background-image: -webkit-linear-gradient(top, rgba(230,230,230,1) 45%,rgba(155,163,204,1) 100%);
   background-image:    -moz-linear-gradient(top, rgba(230,230,230,1) 45%,rgba(155,163,204,1) 100%);
   background-image:     -ms-linear-gradient(top, rgba(230,230,230,1) 45%,rgba(155,163,204,1) 100%);
   background-image:      -o-linear-gradient(top, rgba(230,230,230,1) 45%,rgba(155,163,204,1) 100%);
   background-image:         linear-gradient(top, rgba(230,230,230,1) 45%,rgba(155,163,204,1) 100%);
   -webkit-box-shadow: 4px 6px 9px 0px rgba(0,0,0,1);
      -moz-box-shadow: 4px 6px 9px 0px rgba(0,0,0,1);
           box-shadow: 4px 6px 9px 0px rgba(0,0,0,1);
   border: solid 2px rgba(0,0,0,0.77);
   -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
           border-radius: 50px;
   width: 110px;
   margin: 2px;
   padding: 5px;
   display: inline-block;
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   color: rgba(0,0,0,1);
   font-style: italic;
   font-weight: bold;
}


#mainDiv {
  margin: 15px 29%;
  text-align: center;
}


#nameField,#passField {
border-radius:3px;
-moz-border-radius:3px; /* Firefox */
-webkit-border-radius:3px; /* Safari y Chrome */

/* Otros estilos */
border:1px solid #333;
background:#eee;
/*width:100%;*/
padding:5px;
}

#mainDiv {
border-radius:3px;
-moz-border-radius:3px; /* Firefox */
-webkit-border-radius:3px; /* Safari y Chrome */

/* Otros estilos */
border:3px solid #1E79B6;
background#869997;
/*width:100%;*/
/*padding:5px;*/
}



/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}


#chatBox {
	text-align:left;
	margin:0 auto;
	background:#FFFFFF;
	height:650px;
	width:95%;
	border:5px solid #ACD8F0;
	*//*overflow:auto;
	padding:10px;*/
	overflow:auto;

}
#verticalPanel{
      height:650px;
      width:95%;
      margin: 5%;
}
#message{
       height:100%;
       width:1050px;

}

#nameFieldContainer,#passFieldContainer,#sendButtonContainer,#errorLabelContainer{
margin: 5px;
}


